@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@100;300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    height: 800px;
    background-color: #282c34;
}

.logo {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
}

.title {
    color: white;
    padding-left: 50px;
}

.title h1 {
    font-size: 5em;
    padding-top: 150px;
}

.title p {
    padding-top: 15px;
}